body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-container-auth {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-container-auth h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #910A0A;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

.btn-block {
    width: 100%;
    padding: 12px;
    background-color: #910A0A;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.btn-block:hover {
    background-color: #6c757d;
}

.info-text {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 14px;
}

.form-container-auth p {
    text-align: center;
    margin-top: 20px;
}

.form-container-auth p a {
    color: #910A0A;
    text-decoration: none;
}

.form-container-auth p a:hover {
    text-decoration: underline;
}
