<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - Aplicación de Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup-styles.css') }}">
</head>
<body>
    <div class="auth-container">
        <div class="form-container-auth">
            <h2>Registrarse</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <p class="info-text">Después de registrarte, serás redirigido a la página de pago.</p>
                <button type="submit" class="btn btn-block">Registrarse</button>
            </form>
            <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
        </div>
    </div>
</body>
</html>
